<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Reading WAY</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/de3.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Oswald:wght@500&family=Ubuntu&display=swap" rel="stylesheet">
</head>


<body>

    <div id="title">
        <h1>WAY Reader</h1>
        <span id="smaller"><h2>:Convert PDF-to-Text</h2></span>
    </div>


    <div id="main">
        <br>
            <div id="f1">
                <form name="uploadForm" id="uploadForm" action="/uploadPDF" method="POST" enctype="multipart/form-data">
                    <div class="filebox">
                        <label for="file_upload">파일 선택</label>
                        <input class="upload-name" type="text" id="fname" placeholder="선택된 파일 없음" disabled>
                        <input type="file" name="file_upload" id="file_upload" accept=".pdf">
                        <input id="sub1" type="submit" value="파일 업로드">
                    </div>
                </form>
            </div>

            <div id="div1">
                <form name="showText" action="/text" method="POST" target="_blakn">
                    <!--<button id="textBtn" style="height:50px; width: 120px;"> text 추출 </button>-->
                    <input id="textBtn" style="height:50px; width: 120px;" type="submit" value="text 추출">
                </form>
            </div>

            <div id="f2">
                <form name="searchForm" action="/searchWord" method="POST">
                    <input type="search" name="searchStr" id="searchStr"> 
                    <input class="btn" type="submit" value="검색">
                </form>
            </div>

            <div id="btns">
                <button class="btn" id = "prevBtn" onclick = "prevAct();"> 이전 </button>
                <button class="btn" id = "nextBtn" onclick = "nextAct();"> 다음 </button>
            </div>
            

        <p id="status"> page list: {{page_list}} </p>
        <!--<iframe id="pdfFrame" src= {{file_name}} style="width:70vw; height:120vh"> </iframe>-->
        <iframe id="pdfFrame" src= ""> </iframe>
        <br>

    </div>
    <script>
        const file = document.getElementById("file_upload");

            file.addEventListener('change', function(event) {
                var fileName = file.files[0];
                document.getElementById("fname").value = fileName.name;
            });
        /*
        const prev = document.getElementById("prevBtn");
        const next = document.getElementById("nextBtn");
        //const frame = document.getElementById("pdfFrame");
        const status = document.getElementById("status");
        // iframe 태그의 src 접근을 id value만으로 가능?
        const fileName = {{file_name|tojson}};
        const basicSrc = fileName + "#page=";

        const pageList = {{page_list}};
        const len = pageList.length;
        var index = 0;
        status.textContent = "script 확인용" + pageList[index].toString();
        */

        const frame = document.getElementById("pdfFrame");
        const status = document.getElementById("status");
        const fileName = {{file_name|tojson}};
        const basicSrc = fileName+"#page=";
        const pageList = {{page_list}};
        var len = pageList.length - 1;
        var index = 0;

        if (len == -1) {
            var page = fileName;
            len = 0;
            status.textContent = '단어 \'' + {{se_str|tojson}} + '\'에 해당하는 내용이 없습니다.'
        }
        else {
            var page = basicSrc + (pageList[index] + 1).toString();
            status.textContent = 'page list: ' + pageList;
        }

        //status.textContent = page;
        pdfFrame.src = page;
                
                
        document.getElementById("prevBtn").addEventListener('click', function(event) {
            status.textContent = "이전 버튼 눌림";
            if (index == 0) {}
            else {
                var page = basicSrc + (pageList[--index]+1).toString();
                pdfFrame.src = page;
                status.textContent = page;
            }
        });

        document.getElementById("nextBtn").addEventListener('click', function(event) {
            status.textContent = "다음 버튼 눌림";
            if (index == len) {}
            else {
                var page = basicSrc + (pageList[++index]+1).toString();
                pdfFrame.src = page;
                status.textContent = page;
            }
        });

        /*
        function nextAct() {
            var page = basicSrc + (pageList[++index]+1).toString();
            frame.src = page;
            status.textContent = page;
        }
        */

        /*
        //1번
        function prevAct() {
            status.textContent = "이전 버튼 눌림";
            if (index == 0) {}
            else {
                pdfFrame.src = basicSrc + string(page_list[--index]);
            }
        }
        function nextAct() {
            status.textContent = "다음 버튼 눌림";
            if (index == len) {}
            else {
                print(basicSrc, len);
                status.textContent = basicSrc + string(index);
                pdfFrame.src = basicSrc + string(page_list[++index]);

            }
        }
        */
                

        /*
        //2번
        prev.onclick = function() {
            status.textContent = "이전 버튼 눌림";
            if (index == 0) 
            else {
                prev.addEventListener("click", function(){
                    pdfFrame.src = basicSrc + toString(page_list[--index]);
                })
            }
        };

        next.onclick = function() {
            status.textContent = "다음 버튼 눌림";
            if (index == len)
            else {
                next.addEventListener("click", function(){
                    pdfFrame.src = basicSrc + toString(page_list[++index]);
                })
            }
        };
        */
                
        /*
        //3번
        next.addEventListener('click', function(event){
            status.textContent = "이전 버튼 눌림";
            if (index == 0)
            else {
                pdfFrame.src = basicSrc + pageList[--index].toString();
            }
        });

        prev.addEventListener('click', function(event){
            status.textContent = "다음 버튼 눌림";
            if (index == len)
            else {
                pdfFrame.src = basicSrc + pageList[++index].toString();
            }
        });
                

                
        /*
        //4번
        prev.onclick = function() {
            if (index == 0) 
            else {
                pdfFrame.src = basicSrc + string(page_list[--index]);
                pdfFrame.style = "width:70vw; height:120vh";
            }
        };
        next.onclick = function() {
            if (index == len)
            else {
                pdfFrame.src = basicSrc + string(page_list[++index]);
                pdfFrame.style = "width:70vw; height:120vh";
            }
        };
        */

    </script>
        
</body>
</html>